__pycache__
test.py
test2.py
configs/**
!configs/groups/
!configs/groups/default.yaml
!configs/groups/default.py
!configs/users/
!configs/users/default.yaml
!configs/users/default.py
!configs/base-template.yaml